/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap'); */
/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #00011d;
   /* font-family: 'Montserrat', sans-serif; */
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/keyboard.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color:#00011d; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#experience {
   background: #00011d;
   padding-top: 60px;
   padding-bottom: 90px;
   overflow: hidden;
   text-align: center;
}

#experience h2 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
   margin-bottom: 12px;
}
#experience exp {
   line-height: 30px;
   color: white;
}
#experience h5,h4 {
   color: rgb(184, 182, 182);
}

/* ------------------------------------------------------------------ */
/* d. Education Section
/* ------------------------------------------------------------------ */
#education {
   background: rgba(218, 217, 217, 0.952);
   padding-top: 50px;
   padding-bottom: 50px;
   overflow: hidden;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
}
#education .container{
   text-align: center;
   padding:2em 3em;
   transition: all .5s ease-in-out;
}
#education h2 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin-bottom: 12px;
}
#education ul{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
#education .card{
   background: rgba(214, 214, 214, 0.952);
   border: 1px solid var(--primary);
   border-radius: 10px;
   box-shadow: 10px 10px 15px rgba(70,70,70,.12),-10px -10px 15px rgba(255,255,255,.6);
}
#education .card h4{
   margin-top: 0px;
   color: white;
}
#education .card h5,p{
   margin-top: 0px;
   color: black;
}
.card .header{
   height:75px;
   padding: 16px;
   box-sizing: border-box;
   border-radius: 8px 8px 0px 0px;
   background-color:rgb(0, 0, 39);
}
.card .card-body{
   text-align: left;
   padding-left: 20px;
}
#education ul{
   display: grid;
   grid-template-columns: 1fr;
}
#education .card{
   height: 225px;
   margin: 25px auto; 
}
#education .percentage{
   margin-right: 5px;
   border-top: 1px solid #ececec;
   background-color: lightgray;
   box-shadow: 2px 2px 8px rgba(70,70,70,.3),-2px -2px 8px rgba(255,255,255,.8),inset 2px 2px 5px rgba(70,70,70,.15);
   height: 10px;
   width:70%;
   display: inline-block;
   border-radius: 20px;
   padding:2px;
}
#education .percentage .sslc{
   width: 87%;
   height:100%;
   border-radius: 20px;
   background-image: linear-gradient(to left, #3fb587, #7aab53, #ac992d, #d87f32, #f65d5d);
}
#education .percentage .plustwo{
   width: 76%;
   height:100%;
   border-radius: 20px;
   background-image: linear-gradient(to left, #82b53f, #aca41f, #cf8f1e, #e9763a, #f65d5d);
}
#education .percentage .bca{
   width: 74%;
   height:100%;
   border-radius: 20px;
   background-image: linear-gradient(to left, #82b53f, #aca41f, #cf8f1e, #e9763a, #f65d5d);
}


/* ====================================================================================================================== */
/* e. skill Section
/* ------------------------------------------------------------------ */
#skill h2 {
   font: 18px/24px 'opensans-bold', sans-serif;
   padding-top: 60px;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin-bottom: 12px;
   color: white;
   text-align: center;
}
#skill h3{
   color: gainsboro;
}
#skill h5{
   color: rgb(202, 202, 202);
}
#skill .container div{
   border-radius: 15px 0px 15px 0px;
   padding:15px;
   margin:5px auto 30px auto;
   box-shadow: 10px 10px 15px rgba(58, 58, 58, 0.12),-10px -10px 15px rgba(92, 28, 17, 0.705);
}
.scrollable{
   margin-top: 35px;
   padding:25px;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
}
.scrollable div{
   border-radius: 15px;
   margin:auto 15px auto auto;
   display: inline-block;
}
.collegeweb{
   height: 250px;
   width:250px;
   background:url('./images/college.JPG');
   background-color: rgba(0,0,0,.6);
   background-size: cover;
   background-blend-mode: darken;
}
.qi{
   height: 250px;
   width:250px;
   background:url('./images/qi.JPG');
   background-color: rgba(0,0,0,.6);
   background-size: cover;
   background-blend-mode: darken;
}
.scrollable .project-det{
   color:white;
   margin: 50%;
   transform:translate(-50%,-50%)
}
@keyframes scroll{
   0%{
       margin-top:0%;
   }
   50%{
       margin-top:10%;
   }
   100%{
       margin-top:0;
   }
}

@media only screen and (min-width:650px){
   .container{
       width:60%;
       margin:auto;
   }
   .hide-desktop{
       display: none;
   }
   
   .navbar{
       position:inherit;
       width: 100%;
       height: 70px;
   }
   .nav-item{
       padding:0px;
       margin:0px;
       float: left;
   }
   .nav-link{
       display: block;
       margin-top: auto;
       padding:20px 25px;
       text-decoration: none;
       color:white;
   }
   .head-dec{
       height:3px;
       width: 40px;
       border-radius:35px;
       background-color: black;
       display: inline-block;
   }
   .main{
       height: 100vh;
       line-height: 80px;
   }
   .exp h3{
       margin-bottom:50px;
   }
   #education ul{
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
   }
   #education .card{
       margin:25px 25px; 
   }
   #skill .container{
       display: grid;
       grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
   }
   #skill .container div{
       margin:25px;
       background-color: rgb(0, 0, 26);
   }
   #skill .container div h5{
       font-size:.9em;
   }
   @keyframes scroll{
       0%{
           margin-top:0%;
       }
       50%{
           margin-top:2%;
       }
       100%{
           margin-top:0;
       }
   }
}

/* ------------------------------------------------------------------
/* g. project
/* ------------------------------------------------------------------ */

#project {
   background: #1F1F1F url(../images/testimonials-bg.jpg) no-repeat center center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 200px;
   width: 100%;
   overflow: hidden;
}

#project h2
{
   font: 18px/24px 'opensans-bold', sans-serif;
   padding-top: 60px;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin-bottom: 12px;
   color: white;
   text-align: center;
}

#project .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
}

#project .container .card
{
    position: relative;
    min-width: 600px;
    height: 300px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;  
}

#project .container .card .box
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background:rgb(0, 0, 12);
    border: 2px solid #00041a;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#project .container .card .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(134, 81, 81, 0.05);
    pointer-events: none;
}
#project .container .card .box:hover
{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}
#project .container .card .box .content
{
    padding: 20px;
    text-align: center;
}
#project .container .card .box .content h2
{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(225, 225, 225, 0.05);
}
#project .container .card .box .content h3
{
    font-size: 1.8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(255, 255, 255, 0.952);
    z-index: 1;
    transition: 0.5s;
}
#project .container .card .box .content p
{
    font-size: 16px;
    font-weight: 300;
    color: rgb(230, 225, 225);
    z-index: 1;
    transition: 0.5s;
}

#project .container .card:nth-child(1) .box .content a
{
    background: #2196f3;
}
#project .container .card:nth-child(2) .box .content a
{
    background: #e91e63;
}
#project .container .card:nth-child(3) .box .content a
{
    background: #97dc47;
}

::-webkit-scrollbar
{
    width: 12px;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent,#0130af);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(transparent,#04ff2e);
}


/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background:#00011d;
   padding-top: 96px;
   padding-bottom: 102px;
   color: white;
}
#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: #11ABB0; }
#contact a:hover, #contact a:focus { color: #fff; }

#contact h2 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #ffffff;
   margin-bottom: 6px;
}
#contact .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#contact p {
   padding-top: 30px;
   color: rgb(190, 190, 190);
}
#contact .header-col { padding-top: 6px; }
#message-warning, #message-success {
   display: none;
	background: #0F0F0F;
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}
#message-warning { color: #D72828; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   background-color: rgb(0, 2, 29);
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

